footer
{
    position: relative;
    bottom:0;
    width:100%;
}

  h5 {
    font-size: 1.4em;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 1vw auto;
    position: relative;
    text-align: center;
    width: 94vw;
  }
  
  .product {
    flex: auto;
    font-size: 1.5em;
    margin: 0 1vw calc(1vw + 50px) 1vw;
    min-width: calc(33% - 2vw);
    position: relative;
  }
  
  .product:before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  
  .content {
    background: white;
    border-radius: 30%;
    height: 50%;
    margin: 8%;
    margin-top: 15%;
    position: absolute;
    width: 50%;
    vertical-align: middle;
    z-index: 5000;
  }
  
  .product:hover .effect-1,
  .product:hover .effect-2 {
    display: block;
  }
  
  .effect-1,
  .effect-2 {
    border-radius: 30%;
    display: none;
    mix-blend-mode: multiply;
    height: 60%;
    opacity: 1;
    position: absolute;
    width: 60%;
    z-index: 3000;
  }
  
  .effect-1 {
    animation: rotate 1.8s linear infinite;
    background: cyan;
  }
  
  .effect-2 {
    animation: rotate 1.2s linear reverse infinite;
    background: #e7a9ff;
  }
  
  @keyframes rotate {
    0% {
      top: 0;
      left: 8%;
    }
    25% {
      top: 8%;
      left: 0%;
    }
    50% {
      top: 16%;
      left: 8%;
    }
    75% {
      top: 8%;
      left: 16%;
    }
    100% {
      top: 0;
      left: 8%;
    }
  }
  
  .title {
    position: relative; 
  }

  
  .accueil {
    background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 5px;
    height: 30%;
    margin: 35%;
    width: 30%;
  }
  
  .pop {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 50%;
    height: 30%;
    margin: 35%;
    width: 30%;
  }
  
  .hardrock {
    background-image: linear-gradient( to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    border-radius: 5px;
    height: 30%;
    margin: 35%;
    transform: rotate(45deg);
    width: 30%;
  }


  /*ACCUEIL*/


:root{
    --width: 100%;
    --height: 100%;
    --border-width: 200px;
    --border-height: 200px;
  
  }

  .gallery img
  {
    width:var(--width);
    height:var(--height);
  }
  
  .gallery
  {
      position: relative;
      height: 500px;
  }
  .clipped-border{
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
     clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
     padding:5px;
     background:linear-gradient(grey,lightgrey);
     width:var(--border-width);
     height:var(--border-height);
     max-height:250px;
     max-width:250px;
     height: var(--height);
     width:var(--width);
     transition:transform 0.2s;
     position: absolute;
     cursor:pointer;
  }
  
  
  
  .clipped-border:before{
    content:'';
    position: absolute;
    opacity:0.5;
    width:350px;
    height:70px;
    background:white;
    top:0;
    left:0;
    z-index:1;
    transform:rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:hover:before{
    transform: translate(-100px,400%) rotate(45deg);
    transition:transform 0.5s;
  }
  .clipped-border:nth-child(1){
    top:196px;
    left:0px;
  }
  .clipped-border:nth-child(2){
    top:392px;
    left:118px;
  }
  
  .clipped-border:nth-child(3){
    top:196px;
    left:235px;
  }
  
  .clipped-border:nth-child(4){
    top:392px;
    left:353px;
  }
  
  .clipped-border:nth-child(5){
    top:196px;
    left:470px;
  }
  .clipped-border:nth-child(6){
    top:392px;
    left:588px;
  }
  
  .clipped-border:nth-child(7){
    top:196px;
    left:706px;
  }
  
  .clipped-border:nth-child(8){
    top:392px;
    left:824px;
  }
  
  .clipped-border:nth-child(9){
    top:196px;
    left:942px;
  }
  .clipped-border:nth-child(10){
    top:392px;
    left:1060px;
  }
  #clipped {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  
  }
  
  .clipped-border:hover{
    transform:scale(1.2);
    transition:transform 0.2s;
    z-index:10;
  }
  
  
  @media screen and (max-width:500px){
    .clipped-border{
      width:100px;
      height:100px;
    }
    .clipped-border:nth-child(1)
    {
      top: 50px;
      left: 0;
    }
    .clipped-border:nth-child(2){
      top:130px;
      left:50px;
    }
    
    .clipped-border:nth-child(3){
        top: 50px;
        left:100px;
    }
    
    .clipped-border:nth-child(4){
      top:130px;
      left:150px;
    }
    
    .clipped-border:nth-child(5){
      top:50px;
      left:200px;
    }
    .clipped-border:nth-child(6){
        top:130px;
        left:250px;
      }
      
      .clipped-border:nth-child(7){
        top:50px;
        left:300px;
      }
      
      .clipped-border:nth-child(8){
        top:130px;
        left:350px;
      }
      
      .clipped-border:nth-child(9){
        top:50px;
        left:400px;
      }
      .clipped-border:nth-child(10){
        top:130px;
        left:450px;
      }
  }
  